@{
    ViewData["Title"] = "Elecciones 2023";
}

<div class = "text-center">
    Las elecciones de este año
</div>

<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet dictum odio. In id metus euismod, molestie nibh vel, condimentum mi. Nulla tristique lorem nec nulla venenatis, nec consectetur purus blandit. Nullam ultricies dui ut enim accumsan, quis gravida diam dictum. Duis at magna et ipsum accumsan elementum vestibulum at elit. Nullam convallis elementum commodo. Duis fermentum nibh sit amet elit condimentum, et pretium nisl laoreet. Nulla at tortor augue. Integer eget accumsan mi, a feugiat lectus. Quisque efficitur rutrum vulputate. Nulla scelerisque interdum viverra. Morbi aliquet arcu quis nisl volutpat, ac scelerisque turpis commodo. Morbi vestibulum sed ex in interdum. Nunc urna nibh, tincidunt non urna id, viverra malesuada nunc. Sed a orci nisi.</h4>