@{
    ViewData["Title"] = "Partidos";
}

<div class = "text-center">
    Partidos
</div>

<br>

    <div class="row">
        @foreach (Partido par in ViewBag.listaPartidos)
        {
            <div class="col-md-4 col-12">
                <div class = "card">
                    <img src = "@par.Logo">
                    <div class = "container">
                        <h4><b>@par.Nombre</b></h4> 
                        <br>
                        <a href='@Url.Action("VerDetallePartido", new {idPartido=par.IdPartido})'>Ver Más</a>
                    </div>
                </div>
            </div>
        }
    </div>
