 <img class="foto_candidato" src="/imagenes/@ViewBag.candidato.Foto">
    
    
<h3 class="info_candidato"><u>Nombre</u>: @ViewBag.Candidato.Apellido @ViewBag.Candidato.Nombre</h3>
<h3 class="info_candidato"><u>Fecha de Nacimiento</u>: @ViewBag.Candidato.FechaNacimiento</h3>
<h3 class="info_candidato"><u>Postulación</u>: @ViewBag.Candidato.Postulacion</h3> 